
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href= "{% static 'login.css'%}">
</head>

<body>

    <div class="login-container">
        {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
        {% endif %}
        <h2>Login</h2>
        {% csrf_token %}
        <form action="" method="post">
            
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit"  name ="Login" value="Login">
        </form>
    </div>
</body>
</html>
