<!DOCTYPE html>
{% csrf_token %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Pane</title>
    {% load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'owner_home.css' %}">
    
</head>
<body {% url 'owner_home' %} >
    
    <div class="navbar">
        <a href="/owner_home/items/">Items</a> 
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Contact</a>
    </div>
</body>
</html>
